@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');

html{
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6,p{

  font-family: 'Oswald', sans-serif;
  color: Green;
  /*color: rgba(0,0,0,0.8);*/
}
h1{
  font-size: 3.3rem;
}
h2{
  font-size: 2.8rem;
}
h3{
  font-size: 2.4rem;
}


.main-background{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background-image: url(./img/main-bg.jpeg);
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.main-content{
  height: 80vh;
}
.main-content-centered{

}
.down-button{
  height: 10vh;
}
