@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

html{
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6,p{

  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: #fcfcff;
  /*color: rgba(0,0,0,0.8);*/
}
h1{
  font-size: 3.3rem;
}
h2{
  font-size: 2.8rem;
}
h3{
  font-size: 2.4rem;
}


.main-background{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background-image: url(./img/main-bg.jpeg);
  background-size: cover;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.ham-menu{
  display: none;
  width: 5vh;
  height: 5vh;
}
.social-menu{

  width: 3vh;
  height: 3vh;
  /*justify-content: center;
  align-content: center;
  flex-direction: row;*/
}
.social-menu-wraper{

  display: none;

}

.ham-menu img{
  width: 100%;
}
.social-menu img{
  width: 100%;
}

.main-content{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.main-content-centered{
  text-align: center;
}
.your-text{
  font-size: 6rem;
  font-weight: 700;
}
.down-button-wrap{


  height: 10vh;
}
.down-button{
  padding: 11px;
  background: #fcfcff;
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
}
.down-button img{
  width: 100%
}
@media (max-width: 700px) {
  .nav{
    height: 10vh;
    width: 100%;
    display: flex;
    padding: 0 30px 0 40px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .ham-menu{
    display: flex;
    width: 5vh;
    height: 5vh;
  }
  .social-menu-wraper{
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
  }
  .social-menu{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
  }
  .menu-tabs{
    display: none;
  }
}
